<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.midea.cloud.srm.supcooperate.plan.mapper.OrderForecastMapper" >
  <resultMap id="BaseResultMap" type="com.midea.cloud.srm.model.suppliercooperate.orderforecast.entry.OrderForecast" >
    <id column="ORDER_FORECAST_ID" property="orderForecastId" jdbcType="BIGINT" />
    <result column="VENDOR_ID" property="vendorId" jdbcType="BIGINT" />
    <result column="VENDOR_CODE" property="vendorCode" jdbcType="VARCHAR" />
    <result column="VENDOR_NAME" property="vendorName" jdbcType="VARCHAR" />
    <result column="ORGANIZATION_ID" property="organizationId" jdbcType="BIGINT" />
    <result column="ORGANIZATION_CODE" property="organizationCode" jdbcType="VARCHAR" />
    <result column="ORGANIZATION_NAME" property="organizationName" jdbcType="VARCHAR" />
    <result column="PLAN_MONTH" property="planMonth" jdbcType="VARCHAR" />
    <result column="PLAN_VERSION" property="planVersion" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
    <result column="FIRST_MONTH" property="firstMonth" jdbcType="DECIMAL" />
    <result column="SECOND_MONTH" property="secondMonth" jdbcType="DECIMAL" />
    <result column="THREE_MONTH" property="threeMonth" jdbcType="DECIMAL" />
    <result column="MATERIAL_ID" property="materialId"/>
    <result column="MATERIAL_CODE" property="materialCode"/>
    <result column="MATERIAL_NAME" property="materialName"/>
    <result column="PUBLISHER_ID" property="publisherId" jdbcType="BIGINT"/>
    <result column="PUBLISH_BY" property="publishBy" jdbcType="VARCHAR"/>
    <result column="PUBLISH_TIME" property="publishTime" jdbcType="TIMESTAMP"/>
    <result column="COMFIRM_ID" property="comfirmId" jdbcType="BIGINT" />
    <result column="COMFIRM_BY" property="comfirmBy" jdbcType="VARCHAR" />
    <result column="COMFIRM_TIME" property="comfirmTime" jdbcType="TIMESTAMP" />
    <result column="CREATED_ID" property="createdId" jdbcType="BIGINT" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY_IP" property="createdByIp" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_ID" property="lastUpdatedId" jdbcType="BIGINT" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_BY_IP" property="lastUpdatedByIp" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="BIGINT" />
    <result column="VERSION" property="version" jdbcType="BIGINT" />
  </resultMap>
</mapper>