<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midea.cloud.srm.cm.element.mapper.TypeRangeMapper">
    <select id="queryByValid" resultType="com.midea.cloud.srm.model.cm.element.entity.ElemMaintain">
        SELECT b.*
        FROM scc_contract_type_range a
                 JOIN scc_contract_elem_maintain b ON a.ELEM_MAINTAIN_ID = b.ELEM_MAINTAIN_ID
        WHERE (a.END_DATE IS NULL OR a.END_DATE > now())
          AND (b.END_DATE IS NULL OR b.END_DATE > now())
          AND a.CONTRACT_TYPE = #{contractType}
    </select>
</mapper>
