<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midea.cloud.srm.perf.template.mapper.PerfTemplateLineMapper">
    <!-- 绩效模型指标信息表基础查询Map-->
    <resultMap id="BaseResultMap" type="com.midea.cloud.srm.model.perf.template.entity.PerfTemplateLine">
        <id column="TEMPLATE_LINE_ID" property="templateLineId" jdbcType="BIGINT" />
        <result column="TEMPLATE_DIM_WEIGHT_ID" property="templateDimWeightId" jdbcType="BIGINT" />
        <result column="INDICATOR_NAME" property="indicatorName" jdbcType="VARCHAR" />
        <result column="INDICATOR_DIMENSION" property="indicatorDimension" jdbcType="VARCHAR" />
        <result column="DIMENSION_WEIGHT" property="dimensionWeight" jdbcType="VARCHAR" />
        <result column="INDICATOR_TYPE" property="indicatorType" jdbcType="VARCHAR" />
        <result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
        <result column="INDICATOR_LOGIC" property="indicatorLogic" jdbcType="VARCHAR" />
        <result column="EVALUATION" property="evaluation" jdbcType="VARCHAR" />
        <result column="MARK_LIMIT" property="markLimit" jdbcType="DECIMAL" />
        <result column="INDICATOR_LINE_TYPE" property="indicatorLineType" jdbcType="VARCHAR" />
        <result column="QUOTE_MODE" property="quoteMode" jdbcType="VARCHAR" />
        <result column="CREATED_BY" property="createdBy" jdbcType="BIGINT" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="BIGINT" />
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />

        <!-- 绩效模型指标行表集合 -->
        <collection property="perfTemplateIndsLineList" javaType="java.util.List" column="{templateLineId=TEMPLATE_LINE_ID}"
            ofType="com.midea.cloud.srm.model.perf.template.entity.PerfTemplateIndsLine" fetchType="lazy"
            select="com.midea.cloud.srm.perf.template.mapper.PerfTemplateIndsLineMapper.findTempateIndsLineByParam">
        </collection>
    </resultMap>

    <!-- 根据条件获取绩效模型指标表集合 -->
    <select id="findTempateLineByParam" resultMap="BaseResultMap" parameterType="com.midea.cloud.srm.model.perf.template.entity.PerfTemplateLine">
        select TEMPLATE_LINE_ID, TEMPLATE_DIM_WEIGHT_ID, INDICATOR_NAME, INDICATOR_DIMENSION, DIMENSION_WEIGHT, INDICATOR_TYPE,
                DELETE_FLAG, INDICATOR_LOGIC, EVALUATION, MARK_LIMIT, INDICATOR_LINE_TYPE, QUOTE_MODE, CREATED_BY,
                CREATION_DATE,LAST_UPDATED_BY, LAST_UPDATE_DATE
        from scc_perf_template_line
        <include refid="templateLineSql" />
    </select>

    <!-- 绩效模型指标表查询语句组合 -->
    <sql id="templateLineSql">
        <where>
            <if test="templateLineId != null">
                and TEMPLATE_LINE_ID = #{templateLineId}
            </if>
            <if test="templateDimWeightId != null">
                and TEMPLATE_DIM_WEIGHT_ID = #{templateDimWeightId}
            </if>
            <if test="deleteFlag != null and '' != deleteFlag">
                and DELETE_FLAG = #{deleteFlag}
            </if>
        </where>
    </sql>

</mapper>
