<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midea.cloud.srm.perf.scoring.mapper.PerfScoreManScoringMapper">

    <!-- 分组获取指标维度绩效得分保存信息 -->
    <select id="getSaveIndicatorDimScoreList" resultType="com.midea.cloud.srm.model.perf.scoring.PerfIndicatorDimScore"
        parameterType="com.midea.cloud.srm.model.perf.scoring.PerfScoreManScoring">
        SELECT SCORE_ITEMS_ID, TEMPLATE_HEAD_ID, PROJECT_NAME, EVALUATION_PERIOD, PER_START_MONTH, PER_END_MONTH, ORGANIZATION_ID,
		  ORGANIZATION_NAME, CATEGORY_ID, CATEGORY_CODE, CATEGORY_NAME, CATEGORY_FULL_NAME, COMPANY_ID, COMPANY_CODE, COMPANY_NAME,
		  DIM_WEIGHT_ID,INDICATOR_TYPE,INDICATOR_DIMENSION_TYPE,INDICATOR_DIMENSION_WEIGHT,SUM(SCORE * DIMENSION_WEIGHT/100) SCORE
         FROM scc_perf_score_man_scoring
        <where>
            SCORE_ITEMS_ID = #{scoreItemsId}
        </where>
        GROUP BY SCORE_ITEMS_ID, TEMPLATE_HEAD_ID, PROJECT_NAME, EVALUATION_PERIOD, PER_START_MONTH, PER_END_MONTH, ORGANIZATION_ID,
                 ORGANIZATION_NAME, CATEGORY_ID, CATEGORY_CODE, CATEGORY_NAME,CATEGORY_FULL_NAME, COMPANY_ID, COMPANY_CODE, COMPANY_NAME,
		         DIM_WEIGHT_ID,INDICATOR_TYPE,INDICATOR_DIMENSION_TYPE,INDICATOR_DIMENSION_WEIGHT
    </select>

    <!-- 分组获取指标维度绩效得分主表保存信息 -->
    <select id="getSaveOverallScoreList" resultType="com.midea.cloud.srm.model.perf.scoring.PerfOverallScore"
            parameterType="com.midea.cloud.srm.model.perf.scoring.PerfScoreManScoring">
        SELECT SCORE_ITEMS_ID, TEMPLATE_HEAD_ID,TEMPLATE_NAME,PROJECT_NAME, EVALUATION_PERIOD, PER_START_MONTH, PER_END_MONTH, ORGANIZATION_ID,
                      ORGANIZATION_NAME, CATEGORY_ID, CATEGORY_CODE, CATEGORY_NAME, CATEGORY_FULL_NAME, COMPANY_ID, COMPANY_CODE, COMPANY_NAME,
                      INDICATOR_TYPE,0 SCORE
         FROM (
            SELECT  SCORE_ITEMS_ID, TEMPLATE_HEAD_ID,TEMPLATE_NAME, PROJECT_NAME, EVALUATION_PERIOD, PER_START_MONTH, PER_END_MONTH, ORGANIZATION_ID,
                      ORGANIZATION_NAME, CATEGORY_ID, CATEGORY_CODE, CATEGORY_NAME, CATEGORY_FULL_NAME, COMPANY_ID, COMPANY_CODE, COMPANY_NAME,
                      DIM_WEIGHT_ID,INDICATOR_TYPE,INDICATOR_DIMENSION_TYPE,INDICATOR_DIMENSION_WEIGHT
             FROM scc_perf_score_man_scoring
        <where>
            SCORE_ITEMS_ID = #{scoreItemsId}
        </where>
            GROUP BY SCORE_ITEMS_ID, TEMPLATE_HEAD_ID,TEMPLATE_NAME, PROJECT_NAME, EVALUATION_PERIOD, PER_START_MONTH, PER_END_MONTH, ORGANIZATION_ID,
                     ORGANIZATION_NAME, CATEGORY_ID, CATEGORY_CODE, CATEGORY_NAME,CATEGORY_FULL_NAME, COMPANY_ID, COMPANY_CODE, COMPANY_NAME,
                     DIM_WEIGHT_ID,INDICATOR_TYPE,INDICATOR_DIMENSION_TYPE,INDICATOR_DIMENSION_WEIGHT
         )t

        GROUP BY SCORE_ITEMS_ID, TEMPLATE_HEAD_ID,TEMPLATE_NAME, PROJECT_NAME, EVALUATION_PERIOD, PER_START_MONTH, PER_END_MONTH, ORGANIZATION_ID,
                 ORGANIZATION_NAME, CATEGORY_ID, CATEGORY_CODE, CATEGORY_NAME, CATEGORY_FULL_NAME, COMPANY_ID, COMPANY_CODE, COMPANY_NAME,INDICATOR_TYPE
    </select>

</mapper>
